#breedOne {
  font-size: 130%;
  text-align: center;
  font-weight: bold;
}

img {
  display: block;
  max-width: 50%;
  max-height: 50%;
  margin-left: auto;
  margin-right: auto;
}

#header {
  font-size: 200%;
  text-align: center;
  background-color: lavender;
}

#section2 {
  background-color: black;
}

.dogAnnouncement {
  color: darkmagenta;
  background-color: lavender;
}

.nav-flex {
  display: flex;
  flex-basis: auto;
  flex-direction: row;
  justify-content: space-evenly;
}

#breedTwo {
  color: white;
  font-size: 130%;
  text-align: center;
  font-weight: bold;
}
